@import "../_variables";

.upper_wrapper {
    gap: $gap-desctop;

    @media screen and (max-width:650px) {
        gap: $gap-mobile-min;
    }

    &__shadow {
        margin-bottom: $margin-desctop;
    }

    &__service {
        &_name {
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 28px;
            margin: $margin-desctop auto 0px;
            width: calc(100% - 240px);

            @media screen and (max-width:1400px) {
                width: 100%;
            }

            @media screen and (max-width:650px) {
                margin: $margin-mobile-min auto 0px;
            }

            img {
                padding: 14px;
                width: 92px;
                height: 92px;
                background: $white_color;
                border-radius: 24px;
            }

            &-h1 {
                @include h1($gradient_red_text_color);
                
                @media screen and (max-width:650px) {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 37px;
                }
            }

            &-p {
                @include paragraph-big ($white_color, $font-size: 19px, $line-height: 158%);
                text-align: center;
                
            }

            &-button {
                border: none;
                width: 208px;
                height: 56px;
                padding: 18px 30px;
                border-radius: 12px;
                background: $active_link_regular_color;
                box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
                @include h4 ($white_color, $font-size: 16px, $line-height: 20px);
                text-align: center;                
                cursor: pointer;
                transition: 0.2s ease-in;

                &:hover {
                        background: $active_hover_color;
                        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
                    }
                
                &:active {
                    background: $active_active_color;
                    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
                }
            }

            &-form-modal-window {   
                background-color: $main_soft_color;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                position: fixed;
                z-index: 999;
                display: none;
                pointer-events: none;

                &:target {
                    display: block;
                    pointer-events: auto;
                }
            }
        }



        &_about {
            gap: 30px;
            display: flex;
            flex-direction: column;
            width: calc(100% - 240px);
            margin: 0 auto;

            @media screen and (max-width:1400px) {
                width: 100%;
            }

            &-separator{
                height: 4px;
                width: 100%;
                background: rgba(255, 255, 255, 0.5);
            }

            &-h3 {
                @include h3($white_color);
            }

            &-list {
                display: flex;
                gap: $gap-desctop;
                width: 100%;

                @media screen and (max-width:650px) {
                    flex-direction: column;
                    gap: $gap-mobile-min;
                }

                &-left, &-right {
                    width: calc(100% - $gap-desctop);
                    @include unordered-list($white_color);
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding-left: 14px;

                    li {
                        position: relative;
                    }

                    li:before {
                        position: absolute;
                        content: '';
                        display: block;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: $accent_link_color;
                        left: -14px;
                        top: 12px;
                    }
                }
            }
        }
    }
}

footer .footer_recommended__info-text h1 {
        @media screen and (max-width:693px) {
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
        }

        @media screen and (max-width:650px) {
            font-size: 30px;
            line-height: 37px;
        }
}

