.contact_form {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  background: #F5F5FA;
  box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
  border-radius: 12px;
}
@media screen and (max-width: 690px) {
  .contact_form {
    width: 100vw;
    height: fit-content;
  }
}
.contact_form input {
  padding: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  width: 100%;
  transition: 0.2s ease-in;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #B3B3BA;
}
.contact_form input::-webkit-input-placeholder {
  color: #B3B3BA;
}
.contact_form input:hover {
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
}
.contact_form input:focus {
  border: 1px solid #24A3FF;
  outline: none;
}
.contact_form input:valid {
  color: #000000;
}
.contact_form textarea {
  resize: none;
  width: 100%;
  height: 130px;
  padding: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  transition: 0.2s ease-in;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #B3B3BA;
}
.contact_form textarea::-webkit-input-placeholder {
  color: #B3B3BA;
}
.contact_form textarea:hover {
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
}
.contact_form textarea:focus {
  border: 1px solid #24A3FF;
  outline: none;
}
.contact_form textarea:valid {
  color: #000000;
}
.contact_form__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.contact_form__close {
  cursor: pointer;
  background-image: url("../../images/header/burger_close.svg");
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  float: right;
}
.contact_form__close:hover {
  background-color: #E6E6F0;
  border-radius: 8px;
}
.contact_form h1 {
  width: calc(100% - 32px - 10px);
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 500px) {
  .contact_form h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }
}
.contact_form__upper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact_form__lower {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact_form__lower h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.contact_form button {
  padding: 18px 30px;
  gap: 10px;
  width: 100%;
  height: 56px;
  background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.contact_form button:hover {
  background: #0085FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
}
.contact_form button:active {
  background: #006CCF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
}

/*# sourceMappingURL=contact_form.css.map */
