@import "../_variables";



    .main__about-upper {
        display: flex;
        gap: 30px;
        max-width: 1360px;
        width: calc(100% - 360px);
        height: fit-content;
        margin: $margin-desctop auto $margin-desctop;

        @media screen and (max-width:1435px) {
            width: calc(100% - $margin-desctop*2);
        }

        @media screen and (max-width:1020px) {
            flex-direction: column;
        }

        @media screen and (max-width:650px) {
            width: calc(100% - $margin-mobile-min*2);
            margin: $margin-mobile-min auto $margin-mobile-min;
        }

        &_text {
            display: flex;
            flex-direction: column;
            gap: 28px;

            h1 {
                @include h1($gradient_red_text_color);

                @media screen and (max-width:600px) {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 37px;
                }
            }

            p {
                @include paragraph-big ($black_color);
            }
        }

        &_advantages {
            display: flex;
            gap: 30px;

            &-separator {
                width: 4px;
                height: 322px;
                background: $grey_separator_color;
            }

            &-list {
                display: flex;
                flex-direction: column;
                gap: 40px;

                h1 {
                    @include h1($gradient_red_text_color, $font-size:36px,$line-height:44px);
                    transition: 0.3s ease-in;
                }

                h1:hover {
                    transform: scale(1.2) translateX(10px);
                }

                p {    
                    width: 354px;
                    @include paragraph-regular ($main_regular_color, $line-height:20px);

                    @media screen and (max-width:1020px) {
                        width: 100%;
                    }
                }

                &-row {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img {
                        width: 32px;
                        height: 32px;
                    }

                    div {
                        display: flex;
                        width: fit-content;
                        align-items: center;
                        height: 44px;
                        gap: 8px;
                    }
                }
            }
        }
    }



.main__team-photo {
    background-image: url('../../images/about/Team.jpg');
    height: 584px;
    width: 1920px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width:1920px) {
        height: 0px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 30.41%;
    }

    h1 {
        position: absolute;
        font-weight: 700;
        font-size: 96px;
        max-width: 478px;
        width: fit-content;
        line-height: 117px;
        letter-spacing: 63px;
        text-transform: uppercase;
        color: $white_color;
        opacity: 0.8;
        text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width:1030px) {
            font-size: 86px;
            line-height: 105px;
            width: 448px;
        }

        @media screen and (max-width:880px) {
            width: 328px;
            font-size: 46px;
            line-height: 56px;
        }

        @media screen and (max-width:650px) {
            width: 148px;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: 13px;
        }

    }
}

.main__about-lower {
    display: flex;
    gap: $gap-desctop;
    max-width: 1360px;
    width: calc(100% - 360px);
    height: fit-content;
    margin: $margin-desctop auto $margin-desctop;

    @media screen and (max-width:1435px) {
        width: calc(100% - $margin-desctop*2);
    }

    @media screen and (max-width:1020px) {
        flex-direction: column;
    }

    @media screen and (max-width:650px) {
        width: calc(100% - $margin-mobile-min*2);
        margin: $margin-mobile-min auto $margin-mobile-min;
        gap: $gap-mobile-min;
    }

    p {
        @include paragraph-big ($black_color);
        width: calc(100% - 362px - 60px);

        @media screen and (max-width:1020px) {
            width: 100%;
        }
    }

    h1 {
        width: 362px;
        @include h1($gradient_red_text_color);

        @media screen and (max-width:1020px) {
            width: 100%;
        }

        @media screen and (max-width:600px) {
            @include h2($gradient_red_text_color)
        }
    }
}

.achievements-footer {
    background: $grey_bg_color;
    height: fit-content;
    padding: 30px 0px 0px;

    &__content {
        display: flex;
        flex-direction: column;
        @include main-content-width($margin-desctop);
        margin: 0 auto;
        gap: 30px;

        &-h3-caps {
            @include h3-caps($main_regular_color);
            text-align: center;
        }    
        
        &-cards {
            height: 120px;
            gap: 40px;
            display: flex;

            @media screen and (max-width:1023px) {
                height: 90px;
            }


            a {
                width: 23.12%;
                background-color: $white_color;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.2s ease-in;

                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0 0 20px 5px #b3b3ba;
                }

                @media screen and (max-width:760px) {
                    width: 100%;
                }

                &.cards-mobile {
                    @media screen and (max-width:760px) {
                        display: none;
                    }
                }
            }

            img {
                @media  screen and (max-width:1023px) {
                    max-width: 130px;
                    max-height: 40px;
                }
            }
        }
    }

    
    .paginator {
        gap: 14px;
        width: fit-content;
        height: 16px;
        margin: 0px auto 0px;

        button {
            &.paginator-mobile {
                display: none;

                @media screen and (max-width:760px) {
                    display: block;
                    
                }
            }
        }
        
    }
}

