.section_recommended {
  background: #F5F5FA;
  height: fit-content;
  padding-top: 30px;
}
.section_recommended__info {
  max-width: 1600px;
  width: calc(100% - 120px);
  margin: 0 auto;
}
@media screen and (max-width: 650px) {
  .section_recommended__info {
    max-width: 1600px;
    width: calc(100% - 60px);
  }
}
.section_recommended__info-text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
  width: fit-content;
}
@media screen and (max-width: 693px) {
  .section_recommended__info-text h1 {
    font-size: 30px;
    line-height: 37px;
  }
}
.section_recommended__info-text-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 136px;
  height: 17px;
  margin-bottom: 10px;
}
.section_recommended__info-text-link h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  transition: 0.2s ease-in;
}
.section_recommended__info-text-link svg {
  color: #24A3FF;
  transition: 0.2s ease-in;
}
.section_recommended__info-text-link:hover h3 {
  color: #F0145A;
  transform: scale(1.1) translateY(-5px) translateX(-5px);
}
.section_recommended__info-text-link:hover svg {
  color: #F0145A;
  transform: scale(1.1) translateY(-5px) translateX(5px);
}
.section_recommended__info-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(281.33px, 1fr));
  height: fit-content;
  gap: 30px;
}
.section_recommended__info-cards-wrapper {
  background-color: #FFFFFF;
  border-radius: 8px;
}
@media screen and (max-width: 1023.5px) {
  .section_recommended__info-cards-wrapper-3 {
    grid-column: 1/-1;
  }
}
.section_recommended__info-cards-wrapper img {
  border-radius: 8px 8px 0px 0px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: 0.2s ease-in;
}
.section_recommended__info-cards-wrapper img:hover {
  transform: scale(1.1);
  border-radius: 8px;
}
.section_recommended__info-cards-wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 15px;
}
.section_recommended__info-cards-wrapper-text h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  transition: 0.2s ease-in;
}
.section_recommended__info-cards-wrapper-text h4:hover {
  color: #F0145A;
}
.section_recommended__info-cards-wrapper-text h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.section_recommended__info-cards-wrapper-text-separator {
  width: 100%;
  height: 4px;
  background: #E6E6F0;
}
.section_recommended__info-cards-wrapper-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #000000;
}

/*# sourceMappingURL=recommended_section.css.map */
