@import "../header/header.scss";

@include header("light",rgba(245, 245, 250, 0.2),$white_color,$white_color,$white_color,rgba(255, 255, 255, 0.2));



.header-wrapper {
    padding: 50px 0px 0px 0px;

    @media screen and (max-width:650px) {
        padding: 10px 0px 0px 0px;
        width: 100%;
        /* width: calc(100% - 30px); */
    }
}